.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form {
   text-align: center;
   width: min-content;
   size: cover;
}
.stats-table {
    background-color: white;
    color: black;
}

table {
    border-color: black;
    border-style: solid;
}

tbody, thead {
    border-color: black;
    border-style: solid;
}
td,th {
    border-color: black;
    border-style: solid;
}