.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form {
   text-align: center;
   width: min-content;
   size: cover;
}
.stats-table {
    background-color: white;
    color: black;
}
